@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');


.searchSvg {
    fill: rgb(129, 131, 132);
    width: 18px;
	height: 18px;
	overflow: hidden;
	padding-top: 9px;
	padding-left: 13px;
}

.searchFormInput {
	font-family: IBM Plex Sans, Verdana, Arial, sans-serif;
    background-color: rgb(39, 39, 41);
    box-shadow: none;
    color: rgb(215, 218, 220);
    display: block;
    height: 36px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(52, 53, 54);
    border-image: initial;
    outline: none;
	padding: 0px 16px 0px 33px;
	line-height: 21px;
	font-size: 14px;
	width: 356px;
}

.searchFormInput:hover {
	border-color: #818384;
}

.navSearchBar {
	border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
	border-image: initial;
	height: 32px;
}

.navbar {
	display: inline-flex;
	box-align: center;
	align-items: center;
	margin-top: 0px;
	height: 48px;
	position: relative;
	background-color: rgb(26, 26, 27);
	border-bottom: 1px solid rgb(52, 53, 54);
	width: 100%;
	position: fixed;
	z-index: 100;
}

.searchLabel {
	position: absolute;
}

.homeSvg {
	height: 28px;
	width: 28px;
	margin-left: 15px;
}

.homeLink {
	align-items: center;
}

.homeLogo {
	max-height: 32px;
	max-width: 32px;
}

.vueditSvg {
	height: 18px;
	margin-right: 20px;
	width: auto;
	margin-left: 9px;
	margin-bottom: 6px;
	padding-top: 5px;
}

.dropDownChoiceDiv {
	width: 15em;
	box-sizing: border-box;
    height: 36px;
    position: relative;
}

.sortAndSignUpContainer {
	align-items: center;
	display: inline-flex;
    -webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-flex: 0;
	flex-grow: 0;
	padding-left: 2em;
}

.sortMenuContainer {
	display: flex;
	margin-right: 8px;
    padding-right: 8px;
	border-right: 1px solid rgb(52, 53, 54);
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.navSortLink {
	fill:#0079D3;
	height: 24px;
    line-height: 14px;
    padding: 8px;
	width: 24px;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 4px;
}

.navSortLink:hover {
	background-color: #2D2D2E;
    transition: background-color 0.2s ease 0s;
}

.navSortSVG {
	fill:#0079D3;
	height: 24px;
    width: 24px;
}

.loginSignUp {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
    -webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
}