* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.subvueditContainerOuter {
    background-color: rgb(26, 26, 27);
    min-height: calc(100vh - 48px);
    padding-top: 48px;
}

.subvueditDivContainer {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 48px);
}

.subvuedit {
    z-index: 3;
}

.subvueditHeader {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(26, 26, 27);
    flex: 0 0 auto;
    padding: 0px;
}

.subvueditHeaderLink {
    padding: 8px 16px;
    display: block;
    flex-direction: row;
    height: 64px;
    min-width: 260px;
    background: url('https://styles.redditmedia.com/t5_2s30g/styles/bannerBackgroundImage_zjbes4zarmd01.png') center top / cover no-repeat rgb(137, 137, 137);
    background-position: center top;
    margin: 0px auto;
    text-decoration: none;
}

.subvueditSplash {
    max-width: 1200px;
    height: 100%;
    position: relative;
    margin: auto;
}

.subvueditNameDiv {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 40;
}

.subSplashIcon {
    float: left;
    margin-right: 8px;
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    background: url('https://styles.redditmedia.com/t5_2s30g/styles/communityIcon_7wkagvae7jd01.png') center center / 100% no-repeat rgb(0, 121, 211);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

.subSplashSpan {
    padding-right: 16px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(252, 252, 251);
    display: block;
    float: left;
    line-height: 38px;
    flex: 1 1 100%;
}

h1 {
    display: inline;
}

.subSplashStyleDiv {
    width: 512px;
    height: 48px;
    background-size: auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: -8px;
    background-position: center center;
    background-repeat: no-repeat;
}

.contentTypeContainer {
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background: rgb(3, 3, 3);
}

.contentTypeDiv {
    max-width: 1200px;
    padding: 0px 16px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 260px;
    margin: 0px auto;
}

.contentTypeLink {
    margin-left: 0px;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(233, 245, 253);
    display: inline-block;
    padding-bottom: 1px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 3px solid rgb(233, 245, 253);
    margin: 0px 5px;
    text-decoration: inherit;
}

.subvueditContentDiv {
    max-width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    margin: 0px auto;
    background-color: black;
}

.viewAndSortSub {
    display: flex;
    flex-direction: row;
    background: rgb(26, 26, 27);
    justify-content: left;
    max-width: 1248px;
    height: 40px;
    padding-left: 130px;
}

.subvueditContentDiv {
    max-width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    margin: 0px auto;
}

.subLeftFeed {
    width: 648px;
    min-width: 0px;
}

.leftFeedSplash {
    background-color: rgb(3, 46, 94);
    background-size: contain;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    background-image: url('https://www.redditstatic.com/desktop2x/img/banner/banner-small@2x.png');
    display: flex;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: left center;
    padding: 16px 32px 16px 8px;
}

.closeSplashButton {
    height: 12px;
    width: 12px;
    right: 10px;
    top: 10px;
    position: absolute;
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}

.closeSplashSVG {
    fill: rgb(255, 255, 255);
    overflow: hidden;
}

.redditSplashSVG {
    margin: 0px 8px;
    height: 32px;
    width: 32px;
}

.redditSplashH1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: initial;
    margin-right: 16px;
}

.splashGetStarted {
    margin: 0px 0px 0px auto;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    fill: rgb(26, 26, 27);
    background-color: rgb(0, 121, 211);
    color: rgb(255, 255, 255);
    display: inline-block;
    max-height: 32px;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);
}

.splashGetStarted:hover {
    background-color: #6099CF;
    transition: background 0.2s ease 0s;
    outline: none;
}

.subRightFeedContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: inherit;
}

.rightFeed {
    display: block;
    margin-left: 24px;
    width: 312px;
    margin-top: 0px;
    flex: 0 0 312px;
}

.subDetailsContainer {
    overflow-wrap: break-word;
    background-color: rgb(26, 26, 27);
    color: rgb(215, 218, 220);
    fill: rgb(215, 218, 220);
    border-radius: 5px 5px 4px 4px;
    overflow: visible;
}

.comDetailsContainer {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 12px;
    text-transform: uppercase;
    background-color: rgb(26, 26, 27);
    color: rgb(129, 131, 132);
    fill: rgb(129, 131, 132);
    display: flex;
    border-radius: 4px 4px 0px 0px;
    padding: 0px 12px;
}

.comDetails {
    padding: 12px 0px;
}

.subDetailsDiv {
    padding: 12px;
}

.subDetHeader {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.subDetImg {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    margin-right: 8px;
    background-size: 100%;
    border-radius: 24px;
    flex: 0 0 auto;
    background-position: 50% center;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    background-color: rgb(0, 121, 211);
}

.subDetSubLink {
    text-overflow: ellipsis;
    flex: 1 1 auto;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    text-decoration: inherit;
}

.subDetLinkSpan {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
}

.subDetNumbers {
    display: flex;
    margin: 8px 0px;
}

.subSubNumbers {
    flex: 1 1 0%;
}

.subNums {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.subP {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    word-break: break-word;
}

.subDetDet {
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 8px;
    overflow-wrap: break-word;
}

.subDetSubCreate {
    margin-top: 1em;   
}

.subSubLink {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
    padding: 0px 16px;
    background-color: rgb(215, 218, 220);
    color: rgb(26, 26, 27);
    fill: rgb(26, 26, 27);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    border-color: rgb(215, 218, 220);
    box-sizing: border-box;
    text-align: center;
}

.subCreateLink {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
    padding: 0px 16px;
    box-sizing: border-box;
    text-align: center;
    border-color: rgb(215, 218, 220);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgb(215, 218, 220);
    color: rgb(26, 26, 27);
    fill: rgb(26, 26, 27);
}

.adImage {
    max-width: 23vw;
    max-height: 60vh;
}

.adContainer {
    margin-top: 1em;
}

.adImgDiv {
    display: flex;
    justify-content: center;
}