.userProfileContainerOuter {
    padding-top: 48px;
    padding-left: 0px;
    background-color: black;
}

button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}

.userProfileContainerInner {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 48px);
    z-index: 3;
}

.userProfileHeaderContainer {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(26, 26, 27);
    flex: 0 0 auto;
    padding: 0px;
}

.userProfileHeader {
    display: flex;
    height: 40px;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid rgb(52, 53, 54);
}

.userProfileHeaderContent {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    position: absolute;
    z-index: 3;
    transition: left 300ms ease-in-out 0s;
    left: calc(((100% + 0px) - 984px) / 2);
    right: calc(((100% - 0px) - 984px) / 2);
}

.headerLinks {
    color: rgb(215, 218, 220);
    margin-left: 0;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    margin: 0 5px;
    padding: 0 8px;
    text-decoration: inherit;
}

.userSortBarContainer {
    background: rgb(26, 26, 27);
    height: 40px;
}

.userBarSortContent {
    width: 648px;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 1248px;
    margin: 0px auto;
}

.sortBar {
    min-width: 320px;
    width: 100%;
    left: calc(((100% + 0px) - 984px) / 2);
    right: calc(((100% - 0px) - 312px) / 2);
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 40px;
    left: 12px;
    position: absolute;
    right: 12px;
    z-index: 3;
    transition: left 300ms ease-in-out 0s;
}

.sortDiv {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 7px 0px;
    padding: 0px 16px;
    padding-left: 9.3em;
}

.sortText {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 12px;
    text-transform: uppercase;
    color: rgb(129, 131, 132);
    margin-top: 1px;
}

.currentSortOptionContainer {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-left: 1em;
}

.userContentContainer {
    max-width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    margin: 0px auto;
}

.leftFeedContainer {
    width: 648px;
    min-width: 0px;
}

.userSplashContainer {
    background-color: rgb(3, 46, 94);
    background-size: contain;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    background-image: url('https://www.redditstatic.com/desktop2x/img/banner/banner-small@2x.png');
    display: flex;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: left center;
    padding: 16px 32px 16px 8px;
}

.userProfileCloseButton {
    height: 12px;
    width: 12px;
    right: 10px;
    top: 10px;
    position: absolute;
}

.splashSignUpLink {
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    fill: rgb(26, 26, 27);
    background-color: rgb(0, 121, 211);
    color: rgb(255, 255, 255);
    display: inline-block;
    max-height: 32px;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);
    margin: 0px 0px 0px auto;
}

.userCommentContainer {
    position: relative;
    margin-bottom: 10px;
    color: rgb(129, 131, 132);
    fill: rgb(129, 131, 132);
    background-color: rgb(26, 26, 27);
    cursor: pointer;
    padding-left: 0px;
    transition: color 0.5s ease 0s, fill 0.5s ease 0s, box-shadow 0.5s ease 0s;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
    overflow: visible;
}

.userCommentContainer:hover {
    border-color: #818384;
    transition: border-color 0.2 ease 0s;
}

.userCommentHeader {
    /* display: flex; */
    padding-bottom: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 0px;
    border-width: 1px 1px 0px;
    border-style: solid;
    border-color: rgb(52, 53, 54);
    border-image: initial;
    overflow: hidden;
    background-color: rgba(26, 26, 27, 0.8);
    color: rgb(129, 131, 132);
    cursor: pointer;
    fill: rgb(129, 131, 132);
    margin-bottom: -1px;
    position: relative;
    z-index: 0;
    padding: 0px 8px;
}

.userCommentHeaderContent {
    display: flex;
    padding: 8px 0px;
}

.userCommentHeaderContent:hover {
    border-color: #818384;
    transition: border-color 0.2s ease 0s;
}

.closeSVG:hover {
    fill: white;
}

.userCloseSVG:hover {
    fill: white;
}

.commentSVG {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    vertical-align: text-bottom;
    margin-right: 8px;
    flex: 0 0 20px;
}

.userCommentContent {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    flex: 1 1 auto;
}

.userProfileLink {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(215, 218, 220);
    text-decoration: none;
    cursor: pointer;
    padding-right: .6em;
}

.userProfileLink:hover {
    text-decoration: underline;
}

.userCommentedPost {
    display: inline;
    position: relative;
    text-decoration: none;
    word-break: break-word;

}

.dotDividerSpan {
    margin: 0 4px;
    color: rgb(129, 131, 132);
    font-size: 9px;
    line-height: 16px;
    vertical-align: middle;
}

.userCommentSub {
    display: inline;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
}

.commentedPostLink {
    color: inherit;
    text-decoration: inherit;
}

.commentedPostLink:hover {
    text-decoration: underline;
}

.postH2 {
    color: rgb(111, 112, 113);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: inline;
    color: rgb(215, 218, 220);
    overflow-wrap: break-word;
    padding-right: 0.5em;
    padding-left: 0.6em;
}

.userCommentSub:hover {
    text-decoration: underline;
}

.commentSubLink {
    font-size: 12px;
    font-weight: 700;
    color: rgb(215, 218, 220);
    display: inline;
    line-height: 20px;
    vertical-align: baseline;
    text-decoration: none;
}

.commentSubLink:hover {
    text-decoration: underline;
}

.userCommentContentContainer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(26, 26, 27);
    padding-top: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 0px;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: rgb(52, 53, 54);
    border-image: initial;
    overflow: hidden;
}

.userCommentTime {
    display: inline;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(129, 131, 132);
    padding-left: 8px;
    flex: 0 0 auto;
}

.userCommentBody {
    padding-top: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 0px;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: rgb(52, 53, 54);
    border-image: initial;
    display: flex;
    align-items: stretch;
    padding: 8px 0px 8px 8px;
    border-top: 2px solid rgb(52, 53, 54);
    width: 98.4%;
}

.commentBodySpacer {
    margin-right: 16px;
    border-left: 2px dashed rgb(52, 53, 54);
    flex: 0 0 1px;
}

.userCommentDiv {
    margin-bottom: 0px;
    flex: 1 1 auto;
    fill: rgb(129, 131, 132);
    background: rgba(215, 218, 220, 0.05);
    padding: 4px 8px;
    border-radius: 4px;
    width: 100%;
    max-width: none;
}

.userCommentNameHeader{
    height: 16px;
    margin-left: 0;
    align-items: center;
    line-height: 16px;
    display: flex;
    transition: opacity 0.2s ease 0s;
}

.userComment {
    align-items: center;
    display: flex;
    transition: opacity 0.2s ease 0s;
    padding: 0.25em 0px;
    width: 100%;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(215, 218, 220);
    word-break: break-word;
    overflow: auto;
    padding-left: 1em;
}

.userCommentName {
    display: inline-block;
    flex: 0 0 auto;
}

.userCommentHeader:hover {
    border-color: #818384;
    transition: border-color 0.2 ease 0s;
}

.commenterNameLink {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(79, 188, 255);
    text-decoration: none;
}

.commenterNameLink:hover {
    text-decoration: underline;
}

.userCommentBody:hover {
    border-color: #818384;
    transition: border-color 0.2 ease 0s;
}

.userCommentReplyDiv {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(129, 131, 132);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding-left: 1em;
}

.userReplyButton {
    display: inline-block;
    margin: 4px;
    transition: color 0.1s ease 0s;
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}

.userReplyButton:hover {
    text-decoration: underline;
}

.rightFeedContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 312px;
    margin-top: 0px;
    flex: 0 0 312px;
    margin-left: 2em;
}

.rightFeedUserProfile {
    position: relative;
    overflow: hidden;
}

.userProfileContent {
    overflow-wrap: break-word;
    background-color: rgb(26, 26, 27);
    border-radius: 5px 5px 4px 4px;
    overflow: visible;
    padding: 12px;
    height: 35vh;
}

.userProfileSplash {
    height: 94px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    background-image: url("https://styles.redditmedia.com/t5_56n7p/styles/profileBanner_zo2pey34k4b21.jpg?width=1280&height=384&crop=1280:384,smart&s=5c76dcca4d3fc008d8666c46a48481d9b6809ca8")
}

.userProfileAvatarContainer {
    background-color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    height: 86px;
    margin-left: -3px;
    margin-top: 16px;
    padding: 3px;
    position: relative;
    width: 86px;
}

.userProfileAvatar {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center center;
    border-radius: 4px;
}

.profileUserLink {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(215, 218, 220);
    margin-top: 4px; 
    text-decoration: none;
}

.profileUserLink:hover {
    text-decoration: underline;
}

.emailCakeDay {
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

.userEmail {
    cursor: default;
    margin-bottom: 12px;
    flex: 1 1 50%;
}

.h5Email {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(215, 218, 220);
}

.emailAdd {
    align-items: center;
    display: flex;
    margin-top: 2px;
    padding-top: 0.3em;
    margin-left: -0.1em;
}

.emailSVG {
    width: 14px;
    height: 14px;
    fill: rgb(36, 160, 237);
}

.email {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(129, 131, 132);
    margin-left: 4px;
}

.userCakeDay {
    cursor: default;
    margin-bottom: 12px;
    flex: 1 1 50%;
}

.h5CakeDay {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(215, 218, 220);
}

.cakeSVG {
    width: 14px;
    height: 14px;
    fill: rgb(36, 160, 237);
    overflow: hidden;
}

.cakeDay {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(129, 131, 132);
    margin-left: 4px;
}

.signUpDate {
    padding-top: 0.3em;
}

select {
    cursor: pointer;
}